{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "createDefaultProgram": true,
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [["~", "./src/"]],
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"]
      }
    }
  },
  "rules": {
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [2],
    "react/jsx-filename-extension": [2, { "extensions": [".jsx", ".tsx"] }],
    "import/extensions": [2, "never", { "json": "ignorePackages" }],
    "react/jsx-props-no-spreading": [2, { "custom": "ignore" }],
    "max-len": [2, {
      "code": 120,
      "ignoreComments": true
    }],
    "react/require-default-props": [0],
    "react/no-unescaped-entities": [0],
    "react/prop-types": [0],
    "arrow-parens": [0],
    "comma-style": [0],
    "comma-dangle": [0],
    "object-curly-newline": [0],
    "no-undef": [0],
    "no-shadow": [0]
  }
}
