@import '~assets/_mixins';

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  text-align: center;

  &__header {
    padding: 50px 0;
    background: #eaeaea;
  }

  &__center {
    max-width: 900px;
    margin: auto;
  }

  &__footer {
    margin-top: auto;
    padding: 20px 0;
    background: #3a3a3a;
    color: #fff;
  }
}