@import '~assets/_mixins';

.Words {
  width: 100%;
  border: 1px solid #e1e1e1;

  &__table {
    width: 100%;
    background: #f1f1f1;
  }

  tHead > tr th {
    padding: 20px 0;
    background: #ddd;
  }

  tBody tr:nth-child(2n + 1) {
    background: #fff;
  }
}